/* SELETOR DE TAG OU DE TIPO */

:root {
    --cor-fundo: rgba(155, 95, 212, 0.49);
    --cor-borda: #BB228850;
    --cor-letra: #90ee90;
    --cor-1: #AA2299aa;
    --cor-2: #ffaaff88;
    --cor-3: #AA229988;
    --cor-4: #8FF843;
    --cor-5: #3C032C;

    --cor-principal: #6795c7;
    --cor-prateado: #E6E6FA;
    --cor-de-fundo: #D8BFD8; /*CARDO*/
    --cor-foco: #C9AECA;
    --cor-detalhes: #FFE4B5;
    --cor-detalhes-claro: #5F1130;
  
    --cor-de-fundo-escura: #1C1C3B;
    --cor-foco-escura: #5F4C6F;
  
    --fonte-nome: 'Great Vibes', cursive;
    --fonte-texto: 'Crimson Pro', serif;
    --fonte-mensagem: 'Ephesis', cursive; /* mensagem especial */
  
}

div {
    margin-botton: 30px;
}

.exemplo {
    width: 300px;
    height: 300px;
    color: var(--cor-5);
    padding: 30px;
    font-size: 100px;
    font-weight: 900;
    font-family: var(--fonte-nome);
    text-align: center;

    /* background: 
        /*image*/ url(https://s1.static.brasilescola.uol.com.br/be/conteudo/images/imagem-em-lente-convexa.jpg) /*position / size */ top center / 300px 200px /*repeat*/ no-repeat /*attachment*/ fixed /*origin*/ padding-box /*clip*/ content-box /*color*/ var(--cor-fundo)
    ; 

    background: url(https://s1.static.brasilescola.uol.com.br/be/conteudo/images/imagem-em-lente-convexa.jpg) var(--cor-fundo) center / 500px no-repeat;

    border: 50px solid;

}

.div__1 {
    border-image-source: url('../image/teste/2dfe54edcbc5a97694e1e346a0dfa2fb.jpeg');
}

.div__2 {
    border-image-source: linear-gradient(var(--cor-1), var(--cor-5));
}

.div__3 {
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}